
/* Estilos para el formulario de registro UPIICSA */

:root {
  --black: #000000;
  --white: #ffffff;
  --yellow: #FFFC46;
  --green: #1B5E20; ;
  --red: #e63946;
  --accent: #54c0e8;
  --button: #007D3C;
  --background: #ececec;
  --background-form: rgba(9, 77, 31, 0.80);
}

* {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial;
  margin: 0;
}

body {
  display: flex;
  height: 100vh;
  background-color: var(--background);
  background-position: center;
}

/* .all-page body {
  margin: 0;
  height: 100vh;
  background-image: url('../img/fondo-gobierno.png');
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  display: flex;
} */

.main-content {
  width: 100%;
  min-height: calc(100vh - 60px);
  margin-left: 170px;
  margin-top: 60px;
  background-color: var(--background);
}

.main-content.expanded {
  margin-left: 0;
}

.icon-upiicsa img{
  width: 100px;
  height: auto;
  float: left;
  margin-left: 20px;
}

/* Estilos específicos para el formulario de registro */
.register-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  background-image: url('../img/fondo-gobierno.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.form-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 400px;
  height: 550px;
  background: var(--background-form);
  border-radius: 15px;
  color: var(--white);
  padding: 10px 30px;
  backdrop-filter: blur(2px);
}

.form-container input{
  height: 40px;
  font-size: 15px;
  margin: 5px 15px;
  border-radius: 15px;
}

.name, .username-register, .correo, .password, .confirm-password {
  display: flex;
  flex-direction: column;
  margin-bottom: 10px;
  width: 90%;
}

.genero {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 10px;
  width: 85%;
}

label {
  font-size: 18px;
  font-weight: 600px;
}

.submit{
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  background-color: var(--button);
  color: var(--white);
  width: 100px;
  height: 35px;
  border-radius: 25px;
}

.link-login {
  color: var(--yellow);
}

.regresar-login {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  margin-top: 15px;
}

/* Estilos específicos para el login */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0;
  width: 100%;
  background-image: url('../img/fondo-gobierno.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.form-container img {
  width: 100px;
}

div.username-login, div.password-login, div.logo-login {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 3px;
  margin-bottom: 40px;
}

.submit-acept {
  width: 120px;
  height: 40px;
  border-radius: 25px;
  background-color: var(--button);
  color: var(--white);
  margin-top: 10px;
}

.link-forgot-password, .link-register {
  color: var(--yellow);
}

/* Apartado para el navbar */

/* ==== NAVBAR GENERAL ==== */
.navbar {
  background-color: var(--green); 
  color: #fff;
  padding: 0px 20px;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 60px;
  z-index: 1000;
}

/* CONTENEDOR PRINCIPAL */
.container-navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* SECCIÓN IZQUIERDA */
.navbar-left {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100px;
}

.toggle-sidebar-btn{
  background-color: var(--green);
  border: none;
}

/* ==== LOGO ==== */
.navbar-logo img {
  height: 50px;
  width: auto;
  transition: transform 0.3s;
}

.navbar-logo img:hover {
  transform: scale(1.05);
}

/* SECCIÓN DERECHA */

.navbar-icons-right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70px;
}

i{
  font-size: 25px;
  color: var(--white);
  cursor: pointer;
  transition: color 0.3s, transform 0.2s;
}

.navbar i:hover {
  color: #00bcd4; /* azul cian */
  transform: scale(1.1);
}

/* ==== MENÚ DE USUARIO ==== */
.menu-icon-right {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.menu-user {
  position: absolute;
  top: 40px;
  right: 0;
  background-color: #1f683a;
  border-radius: 8px;
  list-style: none;
  padding: 10px 0;
  margin: 10px 10px;
  width: 180px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
}

.menu-user li {
  text-align: left;
}

.menu-user a,
.menu-user button {
  display: block;
  width: 100%;
  padding: 10px 20px;
  text-decoration: none;
  color: #fff;
  background: none;
  border: none;
  text-align: left;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s;
}

.menu-user a:hover,
.menu-user button:hover {
  background-color: var(--yellow);
  color: #000000;
}

/* Apartado para el slidebar */
.sidebar {
  position: fixed;
  top: 60px;
  left: 0;
  width: 170px;
  height: 100vh;           
  background-color: var(--green); 
  color: #FFFFFF;           
  overflow-y: auto;      
  transition: transform 0.3s ease, margin-left 0.3s ease;
}

.sidebar.hidden {
  transform: translateX(-210px);
}

.sidebar-menu {
  display: flex;
  flex-direction: column;
  position: absolute;
  right: 0;
  border-radius: 8px;
  list-style: none;
  padding: 0;
  width: 100%;
}

.sidebar-menu li {
  text-align: left;
  box-shadow: 0 2px 1px rgba(0, 0, 0, 0.3);
}

.sidebar-menu a,
.sidebar-menu button {
  display: block;
  width: 100%;
  padding: 10px 10px;
  text-decoration: none;
  color: #fff;
  border: none;
  text-align: left;
  font-size: 15px;
  cursor: pointer;
  transition: background 0.3s;
}

.sidebar-menu a:hover,
.sidebar-menu button:hover {
  background-color: var(--yellow);
  color: #000;
}

.sidebar-menu a.enlace-activo {
  background-color: var(--yellow);
  color: #000;
}

/* Apartado para presentaciones */
.presentation-container-material-clase {
  width: 100%;
  height: 100%;
}

.content-title-presentation {
  text-align: justify;
  margin: 20px;
}

.button-add-presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--button);
  color: var(--white);
  width: 230px;
  height: 35px;
  border-radius: 15px;
  margin: 20px;
}

.button-add-presentation button {
  background: none;
  border: none;
  color: var(--white);
  font-size: 16px;
  cursor: pointer;
}

.cards-container {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 20px;
  padding: 20px;
  height: 250px;
}

.card-material {
  display: flex;
  flex-direction: column;
  background-color: var(--white);
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  padding: 8px;
  font-size: 12px;
}

.card-material h2{
  margin: 10px 0;
}

.card-material p {
  flex-grow: 1;
  margin-bottom: 10px;
}

.description-card {
  display: flex;
  align-items: start;
  font-size: 13px;
}

.updated-date {
  display: flex;
  align-items: end;
}

.card-material-buttons {
  display: flex;
  justify-content: space-between;
  height: 30px;
  margin-top: 10px;
}

.button-presentar {
  width: 60%;
  background-color: var(--accent);
  color: var(--white);
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.button-editar {
  border: none;
  border-radius: 5px;
}

.button-eliminar {
  border: none;
  border-radius: 5px;
  margin-right: 10px;
}

.card-material-buttons i{
  width: 90%;
  color: var(--black);
  font-size: 16px;
  cursor: pointer;
  transition: color 0.3s, transform 0.2s;
}

